<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]= "loginForm" (ngSubmit)="LoginSubmit()"> 

    <ion-row>
      <ion-col> 
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" autofocus="true"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessage.email">
            <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>


          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessage.password">
            <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>


          <ion-button [disabled]="!loginForm.valid" type="submit" expand="block">
            Submit
            <ion-icon slot="end" name="create"></ion-icon>
          </ion-button>


          <ion-input value="kdkfekj@kdjhfj.cm"></ion-input>
          <ion-input value="afkjekfa"></ion-input>

      </ion-col>
    </ion-row>
  </form> 

  </ion-grid>

</ion-content>
